{% load static %}
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Intelligent Tutoring Systems (ITS)</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><span><center>Personalized Affective Feedback to Address Student's Frustration in ITS

</center></span></h1>
		
	</div>
	<div id="menu">
		<ul id="main">
			 <li><a href="{% url 'index' %}">Home</a></li>
			 <li><a href="{% url 'Admin' %}">Administrator</a></li>
			
		</ul>
		
	</div>
	
</div>
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		
		<!-- start content -->
		<div id="content">
			<div class="flower"><center><img src="{% static 'images/tra.jpg' %}" alt="" width="660" height="300" /></center></div>
			<br/><br/>
		<center>
		
			<table align="center" width="900">
			<tr><td>
			<p><font size="3" color="black">Abstract: The importance of affective states in learning has led many Intelligent
Tutoring Systems (ITS) to include students affective states in their
learner models. The adaptation and hence the benefits of an ITS can be
improved by detecting and responding to students affective states. In
prior work, we have created and validated a theory-driven model for
detecting students frustration, as well as identifying its causes as
students interact with the ITS.</p>

 <p><font size="3" color="black">In this paper, we present a strategy to
respond to student's frustration by offering motivational messages that
address different causes of frustration. Based on attribution theory,
these messages are created to praise the students effort, attribute the
results to the identified cause, show sympathy for failure or obtain
feedback from the students. We implemented our approach in three
schools where students interacted with the ITS.</p></td>
			<h3>
			</p></h3>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
				</div>
					{{ data }}
					<br/><br/>
					
				
			</div>
		</div>
		
		<div style="clear: both;">&nbsp;</div>
	</div>
	
</div>
</body>
</html>


